<mat-card class="login-card">
  <mat-card-title>
    Login Form
  </mat-card-title>
  <mat-card-content>
    <form #formData="ngForm" (ngSubmit)="login(formData.value)">
      <mat-card-actions *ngIf="error">
        <mat-error>Login credentials are not verified. Error: {{ error }}</mat-error>
      </mat-card-actions>
      <mat-error *ngIf="dataLoading">
        <mat-progress-spinner mode="indeterminate" [value]="15"></mat-progress-spinner>
      </mat-error>
      <mat-error *ngIf="brokenNetwork">Network Connection Error.</mat-error>
      <mat-form-field>
        <input matInput
               placeholder="email"
               name="email" #email="ngModel"
               ngModel required email
        >
      </mat-form-field>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">Please enter a valid email.</mat-error>
      <mat-form-field>
        <input matInput type="password"
               placeholder="app password"
               name="password"
               #password="ngModel"
               ngModel required
               minlength="6" maxlength="30"
        >
      </mat-form-field>
      <span *ngIf="password.invalid && (password.dirty || password.touched)">
          <mat-error *ngIf="password.errors['required']">Password is Required.</mat-error>
          <mat-error *ngIf="password.errors['minlength']">Password can't be less than 6 characters.</mat-error>
          <mat-error *ngIf="password.errors['maxlength']">Password can't be more than 30 characters.</mat-error>
      </span>
      <mat-card-actions align="start">
        <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary">Log in</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="socialAuth">
    <mat-chip-list>
      <mat-chip color="warn" selected="true" (click)="loginWithGoogle()">
        Login With Google
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <mat-divider></mat-divider>
    <button mat-button>
      <a routerLink="/signup">No account?
        <strong>Create one here</strong>
      </a>
    </button>
  </mat-card-actions>
</mat-card>
